<p>The one particular user</p>

<div>
  <h1><%= @user.name %></h1>
  <p><%= @user.email %></p>
</div>

<!-- backed_project is defined as a new association in user.rb and means a
a project from a perspective of a backer, not owner

<% if @user.backed_projects.any? %>
 <ul>
   <% @user.backed_projects.each do |project| %>
     <li class="backed_projects">
       <%= link_to project.name, project_path(project) %>
     </li>
   <% end %>
 </ul>
<% else %>
 <h2>No projects yet</h2>
<% end %>
