<%= form_for [@project, @pledge], remote: true do |f| %>

  <div class="field">
    <%= f.label :amount %><br/>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit 'Make Pledge' %>
  </div>

<% end %>
