
<h1>Projects</h1>


<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>


<% if @projects.any? %>
 <ol>
   <% @projects.each do |project| %>
     <li class="project">
       <%= link_to project.name, project_path(project) %>
     </li>
   <% end %>
 </ol>
<% else %>
 <h2>Search for a Project!</h2>
<% end %>
